/* Player */
ninpp-player ninpp-player-controls{
	display: block;
	position: absolute;
	top: 50%;
	margin: -64px 0 0 0;
	transform: translate(-40px, 0);
	left: 0;
	width: 40px;
	height: 128px;
	background: rgba(128,128,128,0.4);
	border-radius: 0 0 5px 0;
	z-index: 600;
}
ninpp-player ninpp-player-controls.on{
	transform: translate(0, 0);
	background: rgba(128,128,128,0.9);
}
ninpp-player ninpp-player-controls .openner{
	background: rgba(128,128,128,0.4);
	float: right;
	margin-right: -20px;
	width: 20px;
	height: 40px;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
}
ninpp-player ninpp-player-controls .openner:hover, ninpp-player ninpp-player-controls.on .openner{
	background: rgba(128,128,128,0.9);
}
ninpp-player ninpp-player-controls .option{
	display: block;
	width: 35px;
	padding: 5px;
	font-size: 32px;
	text-align: center;
	color: #fff;
	opacity: 0.5;
	cursor: pointer;
}
ninpp-player ninpp-player-controls .option:hover{
	opacity: 1;
}
ninpp-player ninpp-player-controls .option.record:hover, ninpp-player ninpp-player-controls .option.record.on{
	color: red;
}
/* Viewer */
ninpp-viewer{
	margin: 0;
	padding: 0.01px; /* Hack moche mais fonctionnel, trouver une solution */
	font-family: Arial;
	display: block;
	overflow: hidden;
	position: relative;
}
ninpp-viewer .pagination{
	position: absolute;
	top: 0.25em;
	right: 0.25em;
	padding: 0.25em;
	background: rgba(128,128,128,0.75);
	border-radius: 0.25em;
	color: #FFF;
}
ninpp-viewer .globalprogression{
	width: 100%;
	height: 0.125em;
	position: absolute;
	bottom: 0;
	border: 0;
	z-index: 550;
	background: rgba(128,128,128,0.4);
}
ninpp-viewer .globalprogression::-moz-progress-bar{
	background: red;
}
/* slides */
ninpp-slide{
	background: #000 url(../Img/background.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	visibility: hidden;
	display: block;
	transition: transform .5s ease-in-out, opacity .5s ease-in-out;
	z-index: 500;
}
ninpp-slide.on{
	z-index: 503;
	visibility: visible;
}
ninpp-slide.passed{
	z-index: 502;
	visibility: visible;
}

ninpp-slide.sliding{
	visibility: visible;
	transform: translate(100vw, 0);
	z-index: 504;
}
ninpp-slide.sliding.on{
	transform: translate(0, 0);
}
ninpp-slide.sliding.passed{
	transform: translate(-100vw, 0);
	z-index: 504;
}

ninpp-slide.fade{
	opacity: 0;
}
ninpp-slide.fade.on{
	opacity: 1;
}

ninpp-slide.drop{
	transform: scale(3);
}
ninpp-slide.drop.on{
	transform: scale(1);
}
ninpp-slide.drop.passed{
	transform: scale(0);
}

ninpp-slide.pop{
	transform: scale(0);
}
ninpp-slide.pop.on{
	transform: scale(1);
}
ninpp-slide.pop.passed{
	transform: scale(3);
}

ninpp-slide section.content{
	background: rgba(50,50,50,0.8);
	margin: 1%;
	padding: 18px;
	position: relative;
	font-size: 18px;
}
ninpp-slide section.content h1{
	font-size: 7em;
}
ninpp-slide section.content h2{
	font-size: 5em;
}
ninpp-slide section.content h3{
	font-size: 4em;
}
ninpp-slide section.content p, ninpp-slide section.content li{
	font-size: 3em;
}
ninpp-slide section.content a{
	color : #FFF;
}
ninpp-slide section.content a:hover{
	text-shadow: 0 0 3ex #0063a6;
}
ninpp-slide section.content ul{
	margin: 1ex;
}
ninpp-slide section.content li:before{
	content: '✓';
	margin: 0 0.5ex 0 0;
	color: #0f0;	
}
ninpp-slide section.content li.no:before{
	content: '✕';
	margin: 0 0.5ex 0 0;
	color: #f00;	
}
ninpp-slide section.content ul>li>ul{
	margin: 0.5ex 1ex 0.5ex 1ex;
}
ninpp-slide section.content ul>li>ul>li{
	font-size: 0.8em;
}
ninpp-slide section.content ul>li>ul>li:before{
	content: '➜';
	margin: 0 0.5ex 0 0;
	color: #28bdbd;	
}
ninpp-slide ninpp-comment{
	display: none;
}
/* entête */
ninpp-slide.head{
	font-size: 24px;
	text-align: center;
}
ninpp-slide.head address{
	position: absolute;
	bottom: 5%;
	left: 0;
	width: 100%;
	background: rgba(50,50,50,0.8);
	font-size: 1em;
}
/*Animations*/
ninpp-viewer ninpp-slide .delayed{
	visibility:hidden;
	opacity:0;
	transform-origin: 0 50%;
	transition:visibility .5s ease-in-out, opacity .5s ease-in-out, transform .5s ease-in-out;
}
ninpp-viewer ninpp-slide .delayed.on{
	visibility:visible;
	opacity:1;
	transition-delay:0s;
}
ninpp-viewer ninpp-slide .delayed.rotate{
	transform:rotate(360deg);
}
ninpp-viewer ninpp-slide .delayed.rotate.on{
    transform:rotate(0);
}
ninpp-viewer ninpp-slide .delayed.flip{
	transform:rotateX(180deg);
	transform-origin: 50% 50%;
}
ninpp-viewer ninpp-slide .delayed.flip.on{
    transform:rotateX(0);
}
ninpp-viewer ninpp-slide .delayed.flip.y{
	transform:rotateY(180deg);
	transform-origin: 50% 50%;
}
ninpp-viewer ninpp-slide .delayed.flip.y.on{
    transform:rotateY(0);
}
ninpp-viewer ninpp-slide .delayed.slide.left, ninpp-viewer ninpp-slide .delayed.slide{
	transform:translate(-20vw, 0);
}
ninpp-viewer ninpp-slide .delayed.slide.right{
	transform:translate(20vw, 0);
}
ninpp-viewer ninpp-slide .delayed.slide.top{
	transform:translate(0, -20vh);
}
ninpp-viewer ninpp-slide .delayed.slide.bottom{
	transform:translate(0, 20vh);
}
ninpp-viewer ninpp-slide .delayed.slide.on{
	transform:translate(0, 0);
}
ninpp-viewer ninpp-slide .delayed.scale.small, ninpp-viewer ninpp-slide .delayed.scale{
	transform:scale(0);
}
ninpp-viewer ninpp-slide .delayed.scale.big{
	transform:scale(50);
}
ninpp-viewer ninpp-slide .delayed.scale.on{
	transform:scale(1);
}
ninpp-replay{
	background: #2b2b2b;
	position: relative;
}
ninpp-replay .play{
	display: block;
	position: absolute;
	bottom: 10px;
	right: 7.5vw;
	height: 5vw;
	width: 5vw;
	border-radius: 50%;
	border: none;
	background: #0745A8;
	font-size: 2.8vw;
	color: #FFF;
}
ninpp-replay .info{
	position: absolute;
	bottom: 8vw;
	right: 0;
	width: 20vw;
	color: #fff;
}
ninpp-replay .info p{
	padding: 0 1em;
}
ninpp-replay .info p a{
	color: #fff;
}
ninpp-replay, ninpp-replay ninpp-viewer, ninpp-replay ninpp-media{
	display: block;
}
ninpp-replay ninpp-media{
	position: absolute;
	top: 0.25vw;
	right: 0.25vw;
	z-index: 520;
	transition: width .2s ease-in-out;
}
ninpp-replay ninpp-media video{
	width: 100%;
}
