ninpp-player ninpp-player-controls{
	display: block;
	position: absolute;
	top: 50%;
	margin: -64px -35px 0 0;
	right: 0;
	width: 40px;
	height: 128px;
	background: rgba(128,128,128,0.4);
	transition:margin-right .5s ease-in-out, background-color .5s ease-in-out;
	border-radius: 5px 0 0 5px;
}
ninpp-player ninpp-player-controls:hover, ninpp-player [is="ninpp-player-controls"]:hover{
	margin-right: 0;
	background: rgba(128,128,128,0.9);
}
ninpp-player ninpp-player-controls .option{
	display: block;
	width: 35px;
	padding: 5px;
	font-size: 32px;
	text-align: center;
	color: #fff;
	opacity: 0.5;
	cursor: pointer;
}
ninpp-player ninpp-player-controls .option:hover{
	opacity: 1;
}
ninpp-player ninpp-player-controls .option.fullScreen{
	transform: rotate(45deg);
}
ninpp-player ninpp-player-controls .option.record:hover, ninpp-player ninpp-player-controls .option.record.on{
	color: red;
}
/* Viewer */
ninpp-viewer{
	margin: 0;
	padding: 0.01px; /* Hack moche mais fonctionnel, trouver une solution */
	background: #000 url(../Img/background.jpg) no-repeat;
	background-size: cover;
	font-family: Arial;
	display: block;
	overflow: hidden;
	position: relative;
}
ninpp-viewer .pagination{
	position: absolute;
	top: 0.25em;
	right: 0.25em;
	padding: 0.25em;
	background: rgba(128,128,128,0.75);
	border-radius: 0.25em;
	color: #FFF;
}
ninpp-viewer .globalprogression{
	width: 100%;
	height: 0.125em;
	position: absolute;
	bottom: 0;
	border: 0;
	background: rgba(128,128,128,0.4);
}
ninpp-viewer .globalprogression::-moz-progress-bar{
	background: red;
}
/* slides */
ninpp-viewer ninpp-slide{
	background: rgba(50,50,50,0.8);
	margin: 1%;
	padding: 18px;
	color: #fff;
	overflow: hidden;
	font-size: 18px;
	display: block;
	position: relative;
	overflow: hidden;
	display: none;
}
ninpp-viewer ninpp-slide.on{
	display: block;
}
ninpp-viewer ninpp-slide h1{
	font-size: 7em;
}
ninpp-viewer ninpp-slide h2{
	font-size: 5em;
}
ninpp-viewer ninpp-slide h3{
	font-size: 4em;
}
ninpp-viewer ninpp-slide p, ninpp-viewer ninpp-slide li{
	font-size: 3em;
}
ninpp-viewer ninpp-slide a{
	color : #FFF;
}
ninpp-viewer ninpp-slide a:hover{
	text-shadow: 0 0 3ex #0063a6;
}
ninpp-viewer ninpp-slide ul{
	margin: 1ex;
}
ninpp-viewer ninpp-slide li:before{
	content: '✓';
	margin: 0 0.5ex 0 0;
	color: #0f0;	
}
ninpp-viewer ninpp-slide li.no:before{
	content: '✕';
	margin: 0 0.5ex 0 0;
	color: #f00;	
}
ninpp-viewer ninpp-slide ul>li>ul{
	margin: 0.5ex 1ex 0.5ex 1ex;
}
ninpp-viewer ninpp-slide ul>li>ul>li{
	font-size: 0.8em;
}
ninpp-viewer ninpp-slide ul>li>ul>li:before{
	content: '➜';
	margin: 0 0.5ex 0 0;
	color: #28bdbd;	
}
/* entête */
ninpp-viewer ninpp-slide.head{
	font-size: 24px;
	text-align: center;
}
ninpp-viewer ninpp-slide.head address{
	position: absolute;
	bottom: 5%;
	left: 0;
	width: 100%;
	background: rgba(50,50,50,0.8);
	font-size: 1em;
}
/*Animations*/
ninpp-viewer ninpp-slide .delayed{
	visibility:hidden;
	opacity:0;
	transform-origin: 0 50%;
	transition:visibility .5s ease-in-out, opacity .5s ease-in-out, transform .5s ease-in-out;
}
ninpp-viewer ninpp-slide .delayed.on{
	visibility:visible;
	opacity:1;
	transition-delay:0s;
}
ninpp-viewer ninpp-slide .delayed.rotate{
	transform:rotate(360deg);
}
ninpp-viewer ninpp-slide .delayed.rotate.on{
    transform:rotate(0);
}
ninpp-viewer ninpp-slide .delayed.slide.left, ninpp-viewer ninpp-slide .delayed.slide{
	transform:translate(-20vw, 0);
}
ninpp-viewer ninpp-slide .delayed.slide.right{
	transform:translate(20vw, 0);
}
ninpp-viewer ninpp-slide .delayed.slide.top{
	transform:translate(0, -20vh);
}
ninpp-viewer ninpp-slide .delayed.slide.bottom{
	transform:translate(0, 20vh);
}
ninpp-viewer ninpp-slide .delayed.slide.on{
	transform:translate(0, 0);
}
ninpp-viewer ninpp-slide .delayed.scale.small, ninpp-viewer ninpp-slide .delayed.scale{
	transform:scale(0);
}
ninpp-viewer ninpp-slide .delayed.scale.big{
	transform:scale(50);
}
ninpp-viewer ninpp-slide .delayed.scale.on{
	transform:scale(1);
}